@use 'variables' as *;
@use 'mixins' as *;

// Hide:
// mail header row (it's pretty obvious and there's no need to order)
#c_messages_gridMessages_headerrow,
// mail selection checkbox label (why is it there?)
.labelcontext,
// read/unread mail icon
#c_messages_gridMessages_bodytable > tbody > tr > td:nth-child(6),
// grid corner cells
.grid_pagerrow_left, .grid_pagerrow_right, 
.grid_footerleftcorner, .grid_footerrightcorner,
// delete button on bottom
#function_delete1,
// export actions
#c_messages_gridMessages_grid,
// loading animation
#c_messages_gridMessages_animation,
// "Search" label before search fields
.grid_searchcaption,
// label hidden by default style (I assume?)
.hiddenforlabel {
  display: none !important;
}

// Make tables fill up the available space
.main_function_table,
.function_table,
#c_messages_gridMessages_bodytable,
.grid_pagertable {
  width: 100%;
}
.main_function_table {
  padding: 0 10vw;
}

#function_table_body {
  padding: 0;
}

// Pagination
.grid_pagerpanel td {
  display: none;
}
// .grid_pagerpanel td[class^='pagerlink'] {
//   display: inline-block;
//   margin-right: 0.25rem;
//   padding: 0.5rem 1rem;
//   border-radius: 2rem;
//   background-color: $neutral-fill;
//   cursor: pointer;

//   &:hover {
//     background-color: $neutral-fill-hover;
//   }
//   &:active {
//     background-color: $neutral-fill-active;
//   }
// }
// Active page
.pagerlink_disabled {
  color: $major-accent-text;
  background-color: $major-accent-fill !important;
  font-weight: 500;
}
td[class^='pagerlink_np_'] {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: 0.25rem;
  border-radius: 2rem;
  background-color: $neutral-fill;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Material Icons';
  }

  &:hover {
    background-color: $neutral-fill-hover;
  }
  &:active {
    background-color: $neutral-fill-active;
  }
}
// Jump to first page
.pagerlink_np_lmax::before {
  content: 'skip_previous';
  font-size: 125%;
}
// Jump to previous page
.pagerlink_np_l::before {
  content: 'arrow_left';
  font-size: 150%;
}
// Jump to next page
.pagerlink_np_r::before {
  content: 'arrow_right';
  font-size: 150%;
}
// Jump to last page
.pagerlink_np_rmax::before {
  content: 'skip_next';
  font-size: 125%;
}

// Pager actions
.grid_pagertable {
  border-bottom: 1px solid $neutral-line;
  padding-bottom: 0.5rem;
}
.grid_pagertable .functionitem {
  display: flex;

  & > #upFunctionCommand_lbtn_new {
    text-decoration: none;
    color: $major-accent-text;
  }
  .nt-button {
    min-width: 7rem;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
  }
}

// Inbox
#inbox-search-bar [class*=' nt-input-'] {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
#c_messages_gridMessages_grid_body_div {
  overflow-y: scroll;
}
#c_messages_gridMessages_bodytable {
  tr {
    position: relative;
    display: flex;
    padding: 0.25rem 0.5rem;

    background-color: $neutral-fill;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    cursor: pointer;

    &:hover {
      z-index: 1;
      box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }

    &[data-unread] {
      background-color: $plain-fill;
      font-weight: 500;
    }
    &[data-selected='true'] {
      background-color: hsl(54, 67%, 75%);
    }

    // Row select checkbox
    & > td:nth-child(2) {
      padding-right: 0.75rem;

      & > input {
        cursor: pointer;
      }
    }

    // Sender
    & > td:nth-child(5) {
      flex-basis: 13rem;
      flex-shrink: 0;
      width: 13rem;
      max-width: 13rem;
      padding-right: 2rem;

      @include ellipsis-overflow();
    }

    // Subject
    & > td:nth-child(7) {
      flex-shrink: 1;
      width: 100%;
      padding-right: 1rem;

      @include ellipsis-overflow();
    }

    // Date cell
    & > td:last-child {
      flex-shrink: 0;
      flex-basis: 7.5rem;
      max-width: 7.5rem;

      text-align: right;
      margin-left: auto;
    }
  }
}

// Inbox filters
.filters {
  display: flex;
  border-bottom: 1px solid $neutral-line;
}
.filter {
  display: flex;
  width: 15rem;

  & > span {
    width: 100%;
    padding: 0.75rem 1rem;
    color: $plain-text;
    opacity: 0.5;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid transparent;

    &:hover {
      background-color: $neutral-fill;
      opacity: 1;
    }
  }
  & > span::before {
    margin-right: 0.75rem;
    vertical-align: text-bottom;
    font-family: 'Material Icons';
    font-size: 1.25rem;
    line-height: 1;
  }
  &[data-active='true'] > span {
    color: $major-accent-fill;
    border-bottom-color: $major-accent-fill;
    opacity: 1;
  }
}
// All mail
.filter-upFilter_rblMessageTypes_2 > span::before {
  content: 'inbox';
}
// Mail from people
.filter-upFilter_rblMessageTypes_0 > span::before {
  content: 'people';
}
// Automated mail
.filter-upFilter_rblMessageTypes_1 > span::before {
  content: 'smart_toy';
}
