// Colors
$plain-fill: var(--neptun-plain-fill);
$plain-text: var(--neptun-plain-text);

$neutral-text: var(--neptun-neutral-text);
$neutral-text-faded: var(--neptun-neutral-text-faded);
$neutral-line: var(--neptun-neutral-line);
$neutral-fill: var(--neptun-neutral-fill);

$major-accent-fill: var(--neptun-major-accent-fill);
$major-accent-text: var(--neptun-major-accent-text);
$major-accent-fill-hover: var(--neptun-major-accent-fill-hover);
$major-accent-fill-active: var(--neptun-major-accent-fill-active);
$major-accent-fill-contrast: var(--neptun-major-accent-fill-contrast);

$minor-accent-fill: var(--neptun-minor-accent-fill);
$minor-accent-text: var(--neptun-minor-accent-text);
$minor-accent-fill-hover: var(--neptun-minor-accent-fill-hover);
$minor-accent-text-hover: var(--neptun-minor-accent-text-hover);
$minor-accent-fill-active: var(--neptun-minor-accent-fill-active);
$minor-accent-text-active: var(--neptun-minor-accent-text-active);
